html {
    background: linear-gradient(-45deg, #000000, #270B71, #550A7C, #000000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.ttf');
}

#gameScreenBackground, #gameScreen {
    border: 1px solid rgb(0, 148, 255);
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

